<div class='panel panel-primary' *ngIf='stock'>
  <div class='panel-heading' style='font-size:large'>
    {{ pageTitle + ': ' + stock.symbol }}
  </div>

  <div class='panel-body'>
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <div class="panel panel-default">
          <div class="panel-heading">Market Data...</div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Ask</th>
                    <th>Bid</th>
                    <th>Last Traded</th>
                    <th>Low</th>
                    <th>High</th>
                    <th>52-Week Low</th>
                    <th>52-Week High</th>
                    <th>Volume</th>
                    <th>Open</th>
                    <th>Close</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="info">
                    <td>{{stock.symbol}}</td>
                    <td>{{stock.ask}}</td>
                    <td>{{stock.bid}}</td>
                    <td>{{stock.last_trade_date}}</td>
                    <td>{{stock.low}}</td>
                    <td>{{stock.high}}</td>
                    <td>{{stock.low_52_weeks}}</td>
                    <td>{{stock.high_52_weeks}}</td>
                    <td>{{stock.volume}}</td>
                    <td>{{stock.open}}</td>
                    <td>{{stock.close}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <div class="col-lg-1">
      </div>
    </div>
  </div>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
      <i class='glyphicon glyphicon-chevron-left'></i>Back
    </a>
  </div>
</div>
